@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	position: relative;
	margin: 40px auto;
	width: 400px;
	/* border: 1px solid; */
	display: flex;
	justify-content: center;
	align-items: center;
}
.content {
	padding: 8px 4px;
	background: white;
	position: absolute;
	border: 1px solid white;
	top: 25px;
	left: 74px;
	height: 541px;
	width: 250px;
	border-radius: 30px;
}
