@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	/* remove blue text selection from all elements */
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

body {
	/* remove scrollbar */
	overflow-y: hidden;
}

main {
	position: relative;
	margin: 40px auto;
	width: 400px;
	/* border: 2px solid; */
	display: flex;
	justify-content: center;
	align-items: center;
}
.content {
	padding: 15px 4px;
	background: white;
	position: absolute;
	border: 1px solid white;
	top: 25px;
	left: 74px;
	height: 541px;
	width: 250px;
	border-radius: 30px;
}
